.box_shadow{
    box-shadow: 2px 8px 20px rgba(181, 181, 181, 0.2);
}

.form_control {
    border: 1px solid lavender;
    border-radius: 4px;
    background-color: #fff;
}

.form_control:focus {
    border: 1px solid rgb(107, 107, 231);
    outline: none;
}