<<<<<<< HEAD
.sample{
    margin : 0 auto;
    text-align: center;
=======
.sample{
    margin : 0 auto;
    text-align: center;
    background: #f6f6f6;
>>>>>>> 5eaf3abcde4502adf722d93e10ff4ddf7a742ef9
}