.reset_password_anon{padding:50px 0;background:#FAFAFA;}
.main_container_anon{width:90%;margin:0 auto;}
.reset_password_anon form{width:100%;margin:0 auto;padding:30px 0;}
.reset_password_body_anon{width:100%;margin:0 auto;}
.reset_password_anon form input{height:77px;width:100%;}


@media only screen and (min-width:768px){
.main_container_anon{width:90%;margin:0 auto;}
}


@media only screen and (min-width:1200px){
.main_container_anon{width:1180px;}
.reset_password_anon form{width:580px;}
.reset_password_body_anon{width:269px;}
}