.UserSearchResp {
  position: relative;
  width: 100%;
}

.SearchIconResp {  
  position: absolute;
  top: 45%;
  right: 95%;
  border: none;
  background-color: transparent;
}
li {
  list-style: none;
}
.CloseIconResp {
  position: absolute;
  top: 43%;
  right: 5%;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}


.SearchFormResp {
  border-radius: 50px;
  padding: 8px 20px 8px 50px;
  font-family: 'DM Sans', sans-serif;
  background-color: #F6F6F6;
  border-color: transparent;
  width: 100%;
}

.SearchResp::placeholder {
  color: black;
  font-size: 13px;  
}

.SearchFormResp:hover, 
.SearchForm:focus, 
.CloseIcon:hover, 
.CloseIcon:focus, 
.SearchIcon:hover, 
.SearchIcon:focus {
  outline: none;
  box-shadow: none;
}

.schIcResp {
  font-size:15px !important;
}

.FormGroupResp {
  width: 100%;
  position: relative;
}

@media (min-width: 992px) {
  .UserSearchResp {
    display: none;
  }
}

@media (min-width: 449px) and (max-width: 574px) {
  .SearchIconResp {  
    right: 87%;
  }

  .CloseIconResp {
    right: 10%;
  }
}

@media screen and (max-width: 450px) {
  .SearchIconResp {  
    right: 83%;
  }

  .CloseIconResp {
    right: 13%;
  }
}

@media (min-width:575px) {
  .SearchIconResp {  
    right: 87%;
  }

  .CloseIconResp {
    right: 11%;
  }
}

@media (min-width:576px) {
  .SearchIconResp {  
    right: 85%;
  }

  .CloseIconResp {
    right: 13%;
  }
}

@media (min-width:595px) {
  .SearchIconResp {  
    right: 83%;
  }

  .CloseIconResp {
    right: 15%;
  }
}

@media (min-width:625px) {
  .SearchIconResp {  
    right: 81%;
  }

  .CloseIconResp {
    right: 17%;
  }
}

@media (min-width:675px) {
  .SearchIconResp {  
    right: 79%;
  }

  .CloseIconResp {
    right: 19%;
  }
}

@media (min-width:715px) {
  .SearchIconResp {  
    right: 78%;
  }

  .CloseIconResp {
    right: 20%;
  }
}

@media (min-width:745px) {
  .SearchIconResp {  
    right: 76%;
  }

  .CloseIconResp {
    right: 22%;
  }
}

@media (min-width:767px) {
  .SearchIconResp {  
    right: 80%;
  }

  .CloseIconResp {
    right: 18%;
  }
}

@media (min-width:768px) {
  .SearchIconResp {  
    right: 92%;
  }

  .CloseIconResp {
    right: 7%;
  }
}

@media (min-width:785px) {
  .SearchIconResp {  
    right: 91%;
  }

  .CloseIconResp {
    right: 7%;
  }
}

@media (min-width:820px) {
  .SearchIconResp {  
    right: 89%;
  }

  .CloseIconResp {
    right: 9%;
  }
}

@media (min-width:840px) {
  .SearchIconResp {  
    right: 88%;
  }

  .CloseIconResp {
    right: 10%;
  }
}

@media (min-width:860px) {
  .SearchIconResp {  
    right: 87%;
  }

  .CloseIconResp {
    right: 11%;
  }
}

@media (min-width:885px) {
  .SearchIconResp {  
    right: 86%;
  }

  .CloseIconResp {
    right: 12%;
  }
}

@media (min-width:885px) {
  .SearchIconResp {  
    right: 86%;
  }

  .CloseIconResp {
    right: 13%;
  }
}

@media (min-width:901px) {
  .SearchIconResp {  
    right: 84%;
  }

  .CloseIconResp {
    right: 15%;
  }
}

@media (min-width:930px) {
  .SearchIconResp {  
    right: 83%;
  }

  .CloseIconResp {
    right: 16%;
  }
}

@media (min-width:960px) {
  .SearchIconResp {  
    right: 82%;
  }

  .CloseIconResp {
    right: 17%;
  }
}

@media (min-width:980px) {
  .SearchIconResp {  
    right: 81%;
  }

  .CloseIconResp {
    right: 18%;
  }
}