$barcolor: #55595c;
$barheight:  3px;

/*remove bootstrap default svg background */
.navbar-light .navbar-toggler {
  background: none;
}

/* hamburger classes and animation */
.navbar-toggler {
  cursor: pointer;
  position: relative;
  width: 2.5rem;
  height: 2rem;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  line-height: 1rem;
  border-radius: .25rem;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: $barcolor;
    border-radius: $barheight;
    opacity: 1;
    left: 25%;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 34.5%;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 50%;
    }
    &:nth-child(4) {
      top: 65.5%;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}